<div class="content">
          <img src="{{this.memePath}}" alt=""/>
          <h3>Title  {{this.memeTitle}}</h3>
          <p> {{this.memeDescription}}</p>
          <button>
              <a href="{{this.memePath}}" download="{{this.memeFileName}}" >Download Meme</a>
          </button>
          <button>
              <span id="delete" data-meme-id=${id}>Delete</span>
          </button>
</div>